BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
SortIncludes: false

BreakBeforeBraces: Attach

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

NamespaceIndentation: All

BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 2
PackConstructorInitializers: Never